{% extends 'base.html' %}

{% block content%}
    <div class="contents">
        
            <div class="leftcolumn">
                <div class="card">
                    <h2>{{details.title}}</h2>
                    <h5>{{details.pub_date}}</h5>
                    <div class="fakeimg">
                        <img src="{{details.image.url}}" alt="">
                    </div>
                    <p>{{details.body}}</p>
                    <a href="{% url 'edit' details.id %}">수정</a>
                    <a href="{% url 'delete' details.id %}">삭제</a>
                </div>
            </div>
        </div>
{% endblock %}