{% extends 'base.html' %}

{% block content%}
<div class="card" id="card">
    <div class="card-body" id="card-body">
        <h5 class="card-title">{{details.title}}</h5>
        <p class="card-text">{{details.body}}</p>
        <img src="{{details.image.url}}" class="card-img-bottom" alt="...">
        <p class="card-text"><small class="text-muted">{{details.pub_date}}</small></p>
        
        <div class="detail-btn">
            <a class="edit" href="{% url 'edit' details.id %}">수정</a>
            <a class="delete" href="{% url 'delete' details.id %}">삭제</a>
        </div>

    </div>
</div>
{% endblock %}